.cards{
    border: 2px red solid;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

@media (max-width: 1180px) {
    .cards {
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .cards {
        justify-content: center;
    }
}
