.HomeWrap {
    flex: 1;
    align-items: center;
    display: none;
    justify-content: center;
    border: deeppink 5px dotted;
}
.slider{
    border: forestgreen 2px solid;
    position: relative;
    width: 1331px;
    margin: 0 auto;
    top: 50%;
}