.App {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 95rem;
    width: 1500px;
    margin: 0 auto;
}

.controls-wrapper {
    width: 100%;
}

.carousel-wrapper {
    width: 100%;
}

@media (max-width: 768px){
    .App {
        display: flex;
       align-items: center;
    }
}

