.cards__item{
    flex-basis: 23%;
    min-width: 200px;
    max-width: 350px;
    border: 1px black solid;
    margin: 0 auto 40px auto;
    padding-left: 8px;
    padding-right: 8px;
}

@media (max-width: 412px) {
    .cards__item{
        min-width: 280px;
        height: 300px;
    }
}