.cards__item{
    flex: 1 1 22%;
    max-width: 20rem;
    min-width: 15rem;
    border: 1px black solid;
    padding: 0 10px 10px;
}
.card4{
    width: 100%;
    max-height: 475px;
}

@media (max-width: 412px) {
    .cards__item{
        min-width: 280px;
        height: 300px;
    }
}
