.appWrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
#main {
    display: flex;
    flex: 1;
    padding: 5vh 1vw;
}

@media (max-width: 550px){
    #main {
        padding: 0 1vw;
    }
}

